/* Simple CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button:hover {
    cursor: pointer;
}

/* Main CSS */
/* Custom Properties (Variables) */
:root {
    --color-one: #010D26;
    --color-two: #455D73;
    --color-three: #84A9BF;
    --color-four: #A9C6D9;
    --color-five: #D5E7F2;
    --color-six: #6DBF67;
    --color-seven: #108b21;
    --color-eight: #fc5d5d;
    --color-nine: #c20000;
    --color-ten: #959cff;
    --color-eleven: #1a28e8;
    --color-twelve: #9395ff;
    --color-thirteen: #18108b;
    --color-fourteen: rgb(46, 114, 19);
    --color-fifteen: rgb(226, 116, 13);
}

body {
    color: var(--color-four);
    background-color: var(--color-two);
    position: relative;
}

.header {
    text-align: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .main-container > * {
    border: 1px solid hotpink;
}

.library-container > * {
    border: 1px solid blue;
}

.book-container > * {
    border: 1px solid green;
} */

.main-container {
    /* position: relative; */
}

.library-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 300px));
    gap: 20px;
    padding: 20px;
}

.book-container {
    padding: 20px;
    border: 2px solid var(--color-one);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 5fr;
    background-color: var(--color-five);
    color: var(--color-two);
}

.book-container-head {
    text-align: center;
    margin-bottom: 5px;
}

.book-container-body {
    font-size: 16px;
    align-self: center;
}

.book-container-body > p {
    margin: 8px 0;
}

.reading-status {
    color: rgb(196, 55, 55);
}

.reading-status.finished {
    color: rgb(51, 51, 179);
}

.book-container-footer {
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: center;
}

.edit-book-btn {
    color: var(--color-eleven);
    font-size: 18px;
    font-weight: bold;
    /* text-shadow: #333 1px 1px 2px; */
    width: 70px;
    height: 35px;
    background-color: var(--color-ten);
    border: 1px solid var(--color-eleven);
    border-radius: 5px;
}

.add-book-btn {
    font-size: 20px;
    font-weight: bold;
    width: 140px;
    height: 40px;
    background-color:rgb(173, 23, 179);
    color: rgb(150, 105, 255);
    border: 2px solid rgb(150, 105, 255);
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.dialog {
    background-color: var(--color-five);
    color: var(--color-one);
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dialog::backdrop {
    backdrop-filter: blur(5px);
}

.add-book-dialog h3 {
    color: var(--color-fourteen);
}

.edit-book-dialog h3 {
    color: var(--color-fifteen);
}

.book-input-container {
    display: flex;
    justify-content: space-between;
}

.book-input-container > * {
    /* border: 1px solid hotpink; */
    margin: 5px 0;
}

.dialog h3 {
    margin-bottom: 20px;
}

.book-input-container > input {
    width: 200px;
    background: var(--color-four)
}

.book-input-container > label {
    font-weight: bold;
}

.book-btn-container {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.book-btn-container button {
    width: 100px;
    height: 40px;
    margin: 10px;
    font-weight: bold;
    border-width: 3px;
    border-radius: 5px;
}

.confirm-book-btn {
    background-color: var(--color-six);
    color: var(--color-seven);
    border-color: var(--color-seven);
}

.cancel-book-btn {
    background-color: var(--color-eight);
    color: var(--color-nine);
    border-color: var(--color-nine);
}

.confirm-edit-book-btn {
    color: var(--color-thirteen);
    background-color: var(--color-twelve);
}

.book-btn-container .trash-icon-btn {
    width: 30px;
    height: 30px;
    background-color: inherit;
    border: none;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog button {
    cursor: pointer;
}

.trash-icon-btn svg {
    width: 30px;
    height: 30px;
    fill: rgb(82, 74, 74);
}

/* TESTING CSS */
